/* fonts */
@font-face {
    font-family: 'Cygro';
    src: url("../fonts/Cygre-Regular.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: 'Cygro';
    src: url("../fonts/Cygre-SemiBold.ttf");
    font-weight: bold;
}
/* basic */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cygro', sans-serif;
    color: #2A363D;
}
ul,ol,li {
    list-style: none;
}
a,  a::after, a::before{
    text-decoration: none;
    color: #2A363D;
}
a:hover {
    color: #EA545F;
}
a:active {
    opacity: 50%;
}
.text {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 40px;
    text-align: justify;
}
.title {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 40px;
}
.subtitle {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.container {
    max-width: 88%;
    margin: 0 auto;
}
span {
    color: #EA545F;
}
/* menu burger */
.navbar__wrap {
    display: none;
}
.popup {
    display: none;
}
.navbar__wrap .menu {
    display: flex;
}
.navbar__wrap .menu {
    display: none;
}
.hamb {
    display: flex;
    align-items: center;
}
.hamb__field {
    cursor: pointer;
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #2A363D;
    transition: 0.2s;
}
.popup {
    position: fixed;
    top: 110px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
}
.popup.open {
    right: 0;
}
.popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    overflow: auto;
}
.popup .menu > li {
    width: 100%;
}
.popup .menu > li > a {
    display: flex;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2A363D;
}
.hamb__field.active .bar:nth-child(2) {
    opacity: 0;
}
.hamb__field.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
body.noscroll {
    overflow: hidden;
}
.nav-link {
    margin-left: 0;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
}
.logo {
    max-width: 120px;
}
.logo_burger {
    display: none;
    max-width: 120px;
}
.menu {
    display: flex;
}
.nav-link {
    margin-left: 50px;
    transition: all 0.4s ease;
}
/* main content */
.grid {
    display: grid;
    grid-template-columns: 2fr 800px;
    column-gap: 100px;
}
.main {
    padding-top: 70px;
}
.main-content {
    grid-column: 1/2;
    margin-top: 10%;
}
.link-application {
    max-width: 200px;
    margin-right: 40px;
}
.main-img {
    max-width: 60%;
    grid-column: 2/3;
    padding-top: 20px;
    justify-self: end;
    animation-duration: 3s;
    animation-name: slide;
}
/* reviews */
.advantages {
    padding-top: 100px;
}
.content-advantages {
    padding-top: 50px;
}
.advantages-img {
    max-width: 80%;
    grid-column: 1/2;
    justify-self: start;
}
.advantages-list {
    grid-column: 2/3;
    justify-self: end;
}
.block-advantages {
    padding: 40px;
    text-align: center;
    background: #EA545F;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    animation-duration: 3s;
    animation-name: slide;
}
@keyframes slide {
from {
  margin-left: 100%;
  width: 100%;
  opacity: 0%;
}
to {
  margin-left: 0%;
  width: 100%;
  opacity: 100%;
}
}
.advantages-color {
    background: #2A363D;
}
.text-advantages {
    font-size: 25px;
    font-weight: lighter;
}
/* about us */
.aboutus {
    padding-top: 100px;
}
.aboutus_text {
    grid-column: 2/3;
}
/* reviews */
.reviews {
    padding-top: 100px;
}
/* connection */
.connection {
    padding-top: 100px;
}
/* download */
.download {
    padding-top: 100px;
}
.download-application {
    text-align: center;
}
/* form */
.form {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    margin: 70px 0;
}
.form_text {
    font-size: 15px;
}
.form input {
    background: #EA545F;
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 10px;
    font-size: 25px;
}
.form input:focus {
    opacity: 90%;
}
.button {
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px 0;
    background: #2A363D;
    color: #fff;
    font-size: 20px;
    border: none;
    transition: all 0.4s ease;
}
.button:hover {
    background: #EA545F;
}
.button:active {
    opacity: 50%;
}
.connection-img {
    max-width: 80%;
    grid-column: 1/2;
    justify-self: start;
}
/* footer */
.footer {
    padding: 150px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.link-footer {
    max-width: 120px;
    padding-top: 20px;
}
.contact {
    font-size: 60px;
    font-weight: bold;
    text-align: end;
    color: #2A363D;
}
.logo-footer {
    max-width: 120px;
}
